Header unset Cookie
Header unset Set-Cookie

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /~mark/crwebsite/stats3
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.+)/?$ index.php?/$1 [PT,NC,L,QSA]
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/json
</IfModule>
